

.navLinks {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navLinks li {
  letter-spacing: 1px;
}

.navLinks li:hover {
  cursor: pointer;
  color: rgb(51, 241, 255);
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.container {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "headerImg ."
    "headerImg nameIntro"
    "headerImg nameIntro"
    "headerImg nameIntro"
    "headerImg .";
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(51, 241, 255);
  border: 1px solid white;
  padding: 4em;
  margin-top: 1rem;
  background-color: black;
}

.cartoonGirl {
  width: 100%;
  border-radius: 50%;
  grid-area: headerImg;
  box-shadow: 0 0 20px rgb(51, 241, 255);
  justify-self: end;
  align-self: center;
}

.lightbulb {
  width: 15%;
  grid-row: 1 / 3;
  grid-area: lightbulb;
  justify-self: center;
  align-self: end;
}

.nameIntro {
  grid-area: nameIntro;
  color: white;
  align-self: center;
  justify-self: center;
}

.innerNameIntro {
  font-size: 3rem;
  letter-spacing: 2px;
}

.jobIntro {
  font-family: "Karla", sans-serif;
}

.resumeBtn {
  align-self: center;
  padding-top: 1rem;
}

.resumeBtn button {
  padding: 1em;
  font-size: 1rem;
  width: 6rem;
  border-radius: 8px;
  border: 1px solid rgb(51, 241, 255);
  background-color: transparent;
  color: white;
  transition: all 400ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 5px 10px rgb(51, 241, 255);
}

.homeTitle,
.innerHomeTitle {
  font-family: "Anton", sans-serif;
}

.homeTitle {
    font-size: 1.5rem;
}

.homeTitle:hover {
  cursor: pointer;
}

.innerHomeTitle {
  color: rgb(51, 241, 255);
}

.name {
  color: rgb(51, 241, 255);
}

.socials img {
  width: 10%;
  transition: all 400ms ease-in-out;
}

.socials {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.socials img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
}


/* BREAK POINTS */

@media screen and (max-width: 44em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'headerImg'
    'nameIntro';
  }

  .navLinks {
    display: none;
  }

  .navBar {
    justify-content: center;
  }

  .nameIntro h1 {
    text-align: center;
  }

  .nameIntro p {
    text-align: center;
  }

  .resumeBtn {
    text-align: center;
  }

  .socials {
    justify-content: center;
  }

}